name: Release

on:
  push:
    tags:
      - "v*" # Only trigger on v* tags
  workflow_dispatch:

permissions:
  contents: write # Required to create a release and upload assets
  packages: read  # Optional, only needed if you're accessing packages

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25" # Use the Go version you're developing with

      - name: Build for Linux
        run: |
          GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -trimpath -o op-secret-manager-linux-amd64 .
          GOOS=linux GOARCH=arm64 go build -ldflags="-s -w" -trimpath -o op-secret-manager-linux-arm64 .

      - name: Upload Release Assets
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: |
            op-secret-manager-linux-amd64
            op-secret-manager-linux-arm64

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create a release and upload assets
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all tags for git operations

      - name: Extract tag message
        id: tag_message
        run: |
          TAG_MESSAGE=$(git tag -l --format='%(contents)' "${{ github.ref_name }}")
          echo "message<<EOF" >> $GITHUB_OUTPUT
          echo "$TAG_MESSAGE" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Download Release Assets
        uses: actions/download-artifact@v4
        with:
          name: binaries
          path: binaries

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.tag_message.outputs.message }}
          files: |
            binaries/op-secret-manager-linux-amd64
            binaries/op-secret-manager-linux-arm64
          draft: false
          prerelease: false
